<footer class=" text-center" style="background-color: #cdbcd0;">
  <div class="imagen">
    <img src="/logo1A.png" style="height: 100px; width: 200px; margin:0px; margin-left: 35px;"  class="me-2">
  </div>
    <div class="container p-4 pb-0">
      <section class="mb-4">
      <a
         data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
           href="https://www.facebook.com/profile.php?id=100080367192264"
          role="button"
          target="_blank"><i class="fab fa-facebook-f"></i
        ></a>
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="https://x.com/MagnoliaAEP"
          role="button" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>

        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
         <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://www.instagram.com/magnoliaspaaguascalientes/"
          role="button"  target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
   <div style="font-size: 1.2rem; margin-left: 1.8rem;font-weight: bold;">
    <p>Proyecto Universitario</p>
   </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright:
      <a class="text-body" href="https://magnoliaSPA.com/">MagnoliaSPA</a>
    </div>
    <!-- Copyright -->
  </footer>
