/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
               'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #72467c;
  font-size: 2.5em;        /* Aumenta el tamaño del texto */
  font-weight: bold;       /* Hace el texto más grueso */
  margin-top: 40px;        /* Espacio superior */
  margin-bottom: 20px;     /* Espacio inferior */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  letter-spacing: 2px;     /* Espaciado entre letras */
}


.contenedor-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 60px;
  padding: 40px;
  max-width: 1100px;
  margin: 0 auto;
}

.tarjeta {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-15px);
}

/* Imagen */
.imagen-contenedor {
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit:cover;
}

.imagen-contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
   border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

/* Info del producto */
.info-producto {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 16px;  
}

.info-producto h2 {
  margin: 0 0 8px;
  font-size: 2rem;
  text-align: center;
  color: #333;
  min-height: 60px;
}

.descripcion {
  color: #555;
  font-size: 1.5rem;
  margin-bottom: 12px;
  text-align: justify;
}

.detalles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.precio {
  font-weight: bold;
  color: #572364;

}

/* Botón */
.boton-ver-mas {
  background-color: #8e6995;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
}

.boton-ver-mas:hover {
  background-color: #72467c;
}

/* Mensajes de carga/error */
div[ngif] {
  text-align: center;
  padding: 20px;
  color: #888;
  font-size: 1rem;
}

.barra-busqueda {
  width: 100%;
  max-width: 600px;
  padding: 20px 20px;
  margin: 30px auto;
  display: block;
  font-size: 1.3rem;
  color: #333;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 30px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  outline: none;
}

.barra-busqueda:focus {
  border-color: #8e6995; /* Morado */
  box-shadow: 0 0 8px rgba(142, 105, 149, 0.5);
}

.tarjeta-busqueda {
  transform: scale(0.95);
  border: 2px solid #8e6995;
  box-shadow: 0 6px 12px rgba(142, 105, 149, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta-resaltada {
  transform: scale(1.05);
  border: 2px solid #8e6995;
  box-shadow: 0 6px 12px rgba(142, 105, 149, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}
/**/
.contenedor-video-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 3rem auto;
  padding: 2rem;
  max-width: 1400px;
  min-height: 500px;
  background-color: #f5d8f5;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.video-box iframe {
  width: 700px;
  height: 400px;
  border-radius: 12px;
}

.texto-box {
  max-width: 500px;
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
}

.texto-box h2 {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
  color: #741760;
  font-family:fantasy;
}

.texto-box p {
   font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
}
