<h1 class="titulo">Trio de Cuatro</h1>
<!-- <img src="/img/We1.jpg" class="spa-image">
<img src="/img/We2.png" class="spa-image"> -->
<div class="container text-center my-4">
  <div class="row justify-content-center align-items-center">
    <div class="col-6 col-md-4">
      <img src="./img/We1.jpg" class="img-fluid rounded spa-image" alt="Imagen 1">
    </div>
    <div class="col-6 col-md-4">
      <img src="./img/We2.png" class="img-fluid rounded spa-image" alt="Imagen 2">
    </div>
  </div>
</div>

<p>
    Hola, nosotras somos Paola Becerra, Alondra Ibarra y Edith García (de izquierda a derecha) y Eduardo Guzmán somos un grupo 
    de amigos y compañeros que estudiamos la carrera de Ingeniería en Sistemas Computacionales, en la UAA.
<br>
<br>
    Para este trabajo decidimos realizarlo sobre un SPA, con el objetivo de que sea dinámico e interactivo, brindando organización
    en la informacion en una base de datos, de igual forma permite un control en los administradores del sistema asi como de los usuarios.
</p>