<h1 class="titulo">Trio de tres</h1>
<img src="/img/We1.jpg" class="spa-image">
<p>
    Hola, nosotras somos Paola Becerra, Alondra Ibarra y Edith García (de izquierda a derecha), somos un grupo 
    de amigas y compañeras que estudiamos la carrera de Ingeniería en Sistemas Computacionales, en la UAA.
<br>
<br>
    Para este trabajo decidimos realizarlo sobre un SPA, con el objetivo de que sea dinámico e interactivo, brindando al usuario la facilidad de 
    navegar por los diferentes apartados sin necesidad de recargar la página o regresar al inicio.
    En la página se podrán ver los servicios que el SPA ofrece y los productos que están a la venta. 
    De igual manera, los usuarios podrán registrarse para agendar una cita, entre otras acciones disponibles.
</p>