h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.5rem;
}
/*Animacion de Imagenes*/
.imagen-animada {
    transition: transform 0.3s ease-in-out; 
  }
  

  .card:hover .imagen-animada {
    transform: scale(0.5); 
  }