<form [formGroup]="formDesbloqueo" (ngSubmit)="desbloquearCuenta()">
  <mat-form-field>
    <input matInput placeholder="Correo" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Contraseña actual" type="password" formControlName="oldPassword" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nueva contraseña" type="password" formControlName="newPassword" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Actualizar y desbloquear</button>
</form>

