<div class="banner">
    <img src="/contacto.png" alt="Contacto" />
    <div class="mensaje">
        <h1 class="tt">MAGNOLIA SPA</h1>
        <div class="experiencia">
            Vive la experiencia Magnolia SPA.
        </div>
    </div>
</div>

<!--Telefono-->
<div class="contact-info-grid">
    <div class="tarjeta">
        <div class="icono"><i class="fas fa-map-marker-alt"></i></div>
        <div class="contact-title">Dirección</div>
        <div class="contact-detail">
            Calle Francisco I Madero 540 Ex Ejido<br>
            San Ignacio Aguascalientes Ags, C.P.<br>
            20326
        </div>
    </div>

    <div class="tarjeta">
        <div class="icono"> <i class="far fa-envelope"></i></div>
        <div class="contact-title">Correo Electrónico</div>
        <div class="contact-detail">
            <p> magnolia&#64;spa.com</p>
        </div>
    </div>

    <div class="tarjeta">
        <div class="icono"><i class="fas fa-phone"></i></div>
        <div class="contact-title">Teléfono</div>
        <div class="contact-detail">449 918 56 75</div>
    </div>
</div>
<!--Tarjeta-->
<div style="margin: 10px;  ">
    <mat-card appearance="outlined" style="background-color: rgb(235, 235, 213);">
        <mat-card-content style="margin-top: 45px;">
            <h1 class="sub">CONTACTA A MAGNOLIA SPA</h1>
            <p class="texto">A través de nuestras diversas vías de contacto o redes sociales, puedes consultar la
                disponibilidad de nuestros tratamientos y agendar tu experiencia en Magnolia SPA.
                Igualmente, si buscas un espacio para un evento especial que incluya bienestar, contáctanos para
                explorar opciones personalizadas.
                En Magnolia SPA, te ofrecemos una amplia gama de servicios diseñados para tu relajación y
                revitalización.
            </p>
            <p class="texto tex-center" style="font-size: 2.5rem; text-align: center;"> ¡Contáctanos y agenda tu momento
                de bienestar!</p>
        </mat-card-content>
        <!-- <button type="button" class="btn btn-primary">
            AGENDA TU CITA
        </button> -->
    </mat-card>
    @if (!mostrarFormulario) {
   <div class="d-flex justify-content-center mt-3">
     <button type="button" class="btn btn-primary" (click)="mostrarCitaForm()">
        AGENDA TU CITA
    </button>
   </div>
    }

    @if (mostrarFormulario) {
    <div>
        <app-registrar-cita-usuario></app-registrar-cita-usuario>
    </div>
    }
</div>