<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <!-- Carrusel -->
   <div class="carousel-inner">
    <div class="carousel-item active position-relative">
      <img src="/img/spa1.png" class="d-block w-100" alt="Primera imagen" style="height: 400px; object-fit: cover;">
      <div class="custom-caption">
        <h5 class="lema">Donde tu escencia florece como una magnolia.</h5>
      </div>
    </div>
  <div class="carousel-item active position-relative">
      <img src="/img/spa2.png" class="d-block w-100" alt="Primera imagen" style="height: 400px; object-fit: cover;">
      <div class="custom-caption">
        <h5 class="lema">Donde tu escencia florece como una magnolia.</h5>
      </div>
    </div>
    <div class="carousel-item active position-relative">
      <img src="/img/spa3.png" class="d-block w-100" alt="Primera imagen" style="height: 400px; object-fit: cover;">
      <div class="custom-caption">
        <h5 class="lema">Donde tu escencia florece como una magnolia.</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>
<!--Mensaje-->
<div class="contenedorM " style="margin-bottom: 250px; margin-top: 50px;">
  <h1 style="text-align: center; font-family: 'Letra'; text-shadow:  2px 2px 4px black; font-size: 2.8rem;">SPA MAGNOLIA</h1>
  <p style="text-align: center; font-family:'Times New Roman', Times, serif; margin-top: 25px;
    font-size: 1.8rem; padding: 35px; ">Te extendemos una cordial invitación a sumergirte en una experiencia trascendental de paz interior,
     profunda tranquilidad y absoluta relajación.
  Imagina un lugar donde el estrés y las preocupaciones se disipan en el instante en que cruzas la puerta. 
  En nuestro spa, te espera una atmósfera cuidadosamente creada para envolverte en un manto de equilibrio y serenidad desde
   el primer momento. Permítete desconectar del ajetreo diario y reconectar contigo mismo en un santuario dedicado a tu bienestar. </p>
    <p style="text-align: center; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 1.8rem; font-weight:bold;">¡Ven y conocenos!</p>
    <img src="/mensaje.png" style="max-width:1050px; max-height:500px;">
</div>
<!-- -----------------------TARJETAS-------------------------- -->
<br><br><br>
<div class="container" style="margin-top: 65px; ">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="/img/spa4.png" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Faciales</h5>
          <p class="card-text">Contamos con faciales, para concentir tambien tu cara.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Contactanos para una cita</small>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="/img/spa5.png" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Comodidad</h5>
          <p class="card-text">Tenemos diferentes lugares para recibir masajes, elige tu favorito.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Contactanos para una cita</small>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="/img/spa6.png" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Picina</h5>
          <p class="card-text">Contamos con una picina para que puedas pasar un momento muy relajante.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Contactanos para una cita</small>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container" style="margin-top: 45px; ">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="/img/spa9.png" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Masajes Terapéuticos</h5>
          <p class="card-text">Masajes que tiene como objetivo aliviar los dolores musculares.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Contactanos para una cita</small>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="/img/spa8.png" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Tratamientos Corporales</h5>
          <p class="card-text">Contamos con procedimientos estéticos y/o terapéuticos que ayudan a mejorar 
          el bienestar del cuerpo.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Contactanos para una cita</small>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <img src="/img/spa7.png" class="card-img-top" alt="..." style="object-fit: cover; height: 200px;">
        <div class="card-body">
          <h5 class="card-title">Aromaterapia</h5>
          <p class="card-text">Contamos con aromaterapias que ayudan a mejorar el bienestar fisico y emocional.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Contactanos para una cita</small>
        </div>
      </div>
    </div>
  </div>

</div>
<!--PAQUETES-->
<div class="container" style="margin-bottom: 60px;">
  <h1 style="text-align: center; margin-top: 50px; font-family:Letra; margin-bottom: 15px; text-shadow:  1px 1px 3px black; ">PAQUETES</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card"  style="border: none;">

        <div class="card-body carta">
          <h5 class="card-title">Paquete Relajación Express</h5>
          <p class="card-text">Un respiro de tranquilidad en tu día.</p>
          <ul class="list-unstyled">
            <li><i class="bi bi-check-circle-fill text-success me-2"></i> Masaje de espalda (30 min)</li>
            <li><i class="bi bi-check-circle-fill text-success me-2"></i> Aromaterapia básica</li>
          </ul>
          <h6 class="card-subtitle mb-2 text-muted">$499 MXN</h6>
          <a href="#" class="btn btn-success btn-sm">Ver detalles</a>
        </div>
        
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="card"  style="border: none;">
        <div class="card-body carta">
          <h5 class="card-title">Paquete Relajación Profunda</h5>
          <p class="card-text">Sumérgete en un estado de calma total.</p>
          <ul class="list-unstyled">
            <li><i class="bi bi-check-circle-fill text-success me-2"></i> Masaje cuerpo completo (60 min)</li>
            <li><i class="bi bi-check-circle-fill text-success me-2"></i> Infusión relajante</li>
          </ul>
          <h6 class="card-subtitle mb-2 text-muted">$899 MXN</h6>
          <a href="#" class="btn btn-success btn-sm">Ver detalles</a>
        </div>
      </div>
    </div>
  </div>
</div>
